body{
   background:#F2F2F2;
   color:midnightblue;
   font-size:16px;
}

h1 {
   color:midnightblue;
   font-weight:bold;
   font-size:26px;
}

#container {
	padding:10px;
	background:white;
	margin:auto;
	margin-top:15px;
	width:980px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-width:10px;
}

#center_header{
	padding:10px;
	background:lightblue;
	height:100px;
	margin:auto;
	margin-top:15px;
	width:980px;
	color:#9c1e2b;
	font-size:70px;
	line-height: 80px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-width:10px;
	}

#left_header{
   float:left;
   font-size:40px;
   line-height: 100px;
   text-align: center;
   width:370px;
}

#menu{
	float:right;
	height: 30px;
	margin: 20px 0 0;
	width: 530px;
	}

#menu a{
	color: midnightblue;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 12px;
	}
	
#menu a:hover{
   background: #aabcfe;
   color: white;
}
