body{
   background:#F2F2F2;
   color:midnightblue;
   font-size:16px;
}

h1 {
   color:midnightblue;
   font-weight:bold;
   font-size:26px;
}

/* specifically, the #tagbox input element has additional formatting */
#tagbox {
}
input.defaultValue {
    background: lightblue;
}
input.editValue {
    background: orange;
    color: red;
}

#desbox {
}
input.defaultValue {
    background: lightblue;
}
input.editValue {
    background:purple;
}

#container {
	padding:10px;
	background:white;
	margin:auto;
	margin-top:15px;
	width:980px;
	height:auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-width:10px;
}

#center_header{
	padding:10px;
	background:lightblue;
	height:100px;
	margin:auto;
	margin-top:15px;
	width:980px;
	color:#9c1e2b;
	font-size:70px;
	line-height: 80px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-width:10px;
	}

#left_header{
   float:left;
   font-size:40px;
   line-height: 100px;
   text-align: center;
   width:370px;
}

#menu{
	float:right;
	height: 30px;
	margin: 20px 0 0;
	width: 530px;
	}

#menu a{
	color: midnightblue;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 12px;
	}
	
#menu a:hover{
   background: #aabcfe;
   color: white;
}

/* For CSS tooltips, see: http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
   and http://netdna.webdesignerdepot.com/uploads7/how-to-create-a-simple-css3-tooltip/tooltip_demo.html */
.tooltip{
    display: inline;
    position: relative;
}		
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
