body{
   background:#F2F2F2;
   color:midnightblue;
   font-size:16px;
}

h1 {
   color:midnightblue;
   font-weight:bold;
   font-size:26px;
}

#container {
	padding:5px;
	position: fixed;
	background-color:white;
	margin-top:20px;
	margin-left:150px;
	width: 980px;
	height: 600px;
	 -moz-border-radius: 15px;
	 border-radius: 15px;
}

#wrapper{
   background:#F2F2F2;
}  

#header{
  	background:#EDEDED;
	color:#9c1e2b;
	font-size:60px;
       
}
#center_header{
	background:#ecf5ff; 
	height:100px;
	margin:auto;
	width:980px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	 border-width:10px;
	border-color:purple;
	}

#left_header{
   float:left;
   font-size:40px;
   line-height: 100px;
   text-align: center;
   width:370px;
}

#menu{
	float:right;
	height: 30px;
	margin: 0px 0 0;
	width: 530px;
	}

#menu a{
	color: midnightblue;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 12px;
	}
	
#menu a:hover{
   background: #aabcfe;
   color: white;
}
